In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
data = pd.read_csv('taxi.csv')

In [3]:
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [5]:
#Selection of features
x = data.drop(['Numberofweeklyriders'], axis=1).values
y = data['Numberofweeklyriders'].values

In [8]:
#Splitting into training and test datasets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=0)

In [10]:
#Model creattion
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
print("Training score: ", model.score(x_train, y_train))

Training score:  0.9285840543940118

In [13]:
#Saving model
pickle.dump(model, open('taxi.pkl', 'wb'))

In [14]:
#Testing model by loading it first
model1= pickle.load(open('taxi.pkl', 'rb'))
print(model1.predict([[80,1777000,10000,85]]))

[154983.6320205]